          .social_medias {
            list-style-type:none;
            display:flex;
            margin-top:.5rem;
          }
          .social_medias li {
            transition:.2s
          }
          .social_medias li a {
            font-size:1.5rem;
            margin-right:15px;
          }
          .social_medias li:hover {
            transform: rotate(10deg);
            transition:.2s;
          }
        .item {
  width:60%;
  display: flex;
  padding: 1rem;
  background-color: #161B33;
  border-radius: 7px;
  margin: 2rem auto;
  transition: .2s;
}
.item:hover , .github:hover {
  transform: scale(1.03);
  transition: .2s;
}
.personal img {
  width:120px;
  height:120px;
  border-radius: 10%;
  margin-right: 1rem;
}
.personal h1 {
  font-size: 2rem;
  color: #fff;
}
.text p {
  word-break: break-all;
}
.languages {
  flex-wrap: wrap;
}
.languages article {
  width: 50%;
}
.github {
  width:60%;
  padding: 1rem;
  background-color: #161B33;
  border-radius: 7px;
  margin: 2rem auto;
  transition: .2s;
}
.github h3 {
  font-size: 2rem;
  text-align: center;
}
.repos {
  display: flex;
  flex-wrap: wrap;
  margin-top:1rem;
}
.repo {
  width:30%;
  text-decoration: none;
  background-color: #282f4c;
  border-radius: 7px;
  padding-left: 10px;
  font-size: 1.25rem;
  transition: .2s;
  word-break: break-all;
}
.repo:hover {
  transform: scale(1.05);
  transition: .2s;
}

@media screen and (max-width: 700px) {
  .item,.github {
    width:90%;
  }
  .personal img {
    width:80px;
    height:80px;
    border-radius: 10%;
}
.personal h1 {
  font-size: 1.5rem;
}
.personal p {
  font-size: .95rem;
}
.github h3 {
  font-size: 1.5rem;
}
.repo {
  font-size: 1rem;
}
}